rev_ex1/helloWorld/Program.cs
HerosApp/.gitignore.gitignore
HerosApp/HerosApp.csproj
HerosApp/HerosApp.sln
HerosApp/Program.cs
HerosApp/.vscode/launch.json
HerosApp/.vscode/tasks.json
HerosApp/HerosLib/Heros.cs
HerosApp/HerosLib/HerosLib.csproj
HerosApp/HerosLib/obj/HerosLib.csproj.nuget.dgspec.json
HerosApp/HerosLib/obj/HerosLib.csproj.nuget.g.props
HerosApp/HerosLib/obj/HerosLib.csproj.nuget.g.targets
HerosApp/HerosLib/obj/project.assets.json
HerosApp/HerosLib/obj/project.nuget.cache
HerosApp/bin/Debug/netcoreapp3.1/HerosApp.deps.json
HerosApp/bin/Debug/netcoreapp3.1/HerosApp.dll
HerosApp/bin/Debug/netcoreapp3.1/HerosApp.exe
HerosApp/bin/Debug/netcoreapp3.1/HerosApp.pdb
HerosApp/bin/Debug/netcoreapp3.1/HerosApp.runtimeconfig.dev.json
HerosApp/bin/Debug/netcoreapp3.1/HerosApp.runtimeconfig.json
HerosApp/obj/HerosApp.csproj.nuget.dgspec.json
HerosApp/obj/HerosApp.csproj.nuget.g.props
HerosApp/obj/HerosApp.csproj.nuget.g.targets
HerosApp/obj/project.assets.json
HerosApp/obj/project.nuget.cache
HerosApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
HerosApp/obj/Debug/netcoreapp3.1/HerosApp.AssemblyInfo.cs
HerosApp/obj/Debug/netcoreapp3.1/HerosApp.AssemblyInfoInputs.cache
HerosApp/obj/Debug/netcoreapp3.1/HerosApp.assets.cache
HerosApp/obj/Debug/netcoreapp3.1/HerosApp.csproj.CoreCompileInputs.cache
HerosApp/obj/Debug/netcoreapp3.1/HerosApp.csproj.FileListAbsolute.txt
HerosApp/obj/Debug/netcoreapp3.1/HerosApp.csprojAssemblyReference.cache
HerosApp/obj/Debug/netcoreapp3.1/HerosApp.dll
HerosApp/obj/Debug/netcoreapp3.1/HerosApp.exe
HerosApp/obj/Debug/netcoreapp3.1/HerosApp.genruntimeconfig.cache
HerosApp/obj/Debug/netcoreapp3.1/HerosApp.pdb
